
body {
  font-family: helvetica, arial, sans-serif;
  color: white;
}

.stubborn {
  color: white;
}

input {
  color: black;
}

#new_todo_input {
  width: 82%;
}

#container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#map_canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.form {
  padding: 10px;
  border-radius: 8px;
  width: 35%;
  position: relative;
  top: 5px;
  left: 44px;
  background-color: rgba(0, 128, 0, 0.75);
  z-index: 2;
}

.travel_container {
  padding: 10px;
  border-radius: 8px;
  width: 149px;
  // width: 14.2%;
  position: relative;
  top: 5px;
  left: 44px;
  background-color: rgba(0, 128, 0, 0.75);
  z-index: 2;
}

.travel {
  margin-left: auto;
  margin-right: auto;
}
