
#container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#map_canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.form {
  padding: 10px;
  border-radius: 8px;
  // width: 40%;
  position: relative;
  // top: 100px;
  // top: 340px;
  background-color: rgba(0, 128, 0, 0.75);
  // background-color: rgba(235, 16, 30, 0.70);
  // Original color color-picked from the site.
  // background-color: rgba(208, 16, 49, 0.55);
  z-index: 2;
}
